<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <div class="class"></div>
    <span class="navbar-brand ms-3 me-3"><i class="bi bi-person-video"> Mi Foro</i></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div *ngIf="user.id" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/posts">Publicaciones</a>
        </li>
        <li *ngIf="user.role == 'admin'" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/users">Usuarios</a>
        </li>
        <li class="nav-item">
          <a (click)="salir()" class="nav-link active" aria-current="page" routerLink="/">Salir</a>
        </li>
      </ul>
      <span class="navbar-text border border-secundary rounded-pill ps-2 pe-2">
          {{user.username}}
      </span>
    </div>
  </nav>